body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    background-color: #ccc;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 10px #353333;
    border-radius: 10px;
    border-style: outset;
    background-color: #cacaca;

}

label,
input {
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

button {
    background-color: cadetblue;
    color: #fff;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}